
.container {
	
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

body {
    margin: 0;
	background-color: #f1f1f1;
	    font-size: 20px;
	font-family: "Poppins", sans-serif;
}
h1 {
    margin-bottom: 0;
}

h5 {
    margin-top: 0;
}	
header {
    background: rgb(204,204,204);
    background: linear-gradient(180deg, #00ad8d 0%, #035848 100%);
	padding: 20px;
}

.logo img {
    max-width: 210px;
}

nav li {
    display: inline-block;
	margin-left: 10px;
    margin-right: 10px;
}

nav li a {
    color: #000;
    text-decoration: none;
}

.logo {
    display: inline-block;
    width: 30%;
}

nav {
    display: inline-block;
    width: 68%;
    text-align: right;
}


.introduction {
    margin: 80px 0;
}

.about {
    margin: 80px 0;
}

.education {
    margin: 80px 0;
}

.skill {
    margin: 80px 0;
}

.footer-logo img {
    max-width: 220px;
}

.footer-top {
    background: #00ad8d;
    padding: 60px 0;
}

.footer-logo {
    text-align: center;
	    margin-bottom: 30px;
}

.footer-address {
    text-align: center;
	    margin-bottom: 30px;
}

h5 {
    font-size: 22px;
    margin-bottom: 10px;
}

.footer-info {
    text-align: center;
}

.footer-info a {
    color: #000;
}

.copyright {
    background: #035848;
}

.copyright p {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.about-info {display: flex;}

.about-info img {
    margin-right: 20px;
}

